// $color-theme: #da3838;
$color-theme: #da3838;
$color-text-title: #333;
$color-text-base: #666;
$color-text-lable: #999;
$color-text-placeholder: #ccc;
$color-line: #d8d8d8;
$color-input-bg: #fafafa;

$color-bg: #f0f1f5;

$font-size-small: 36px;
$font-size-base: 42px;
$font-size-large: 48px;
$font-size-ultra: 54px;
$font-size-ultra-plus: 72px;

$padding-base: 36px;
