
$color-theme: #4296fc;
$color-text-title: #333;
$color-text-base: #666;
$color-text-lable: #999;
$colot-text-placeholder: #ccc;

$color-bg: #f0f1f5;

$font-size-small: 36px;
$font-size-base: 42px;
$font-size-large: 48px;
$font-size-ultra: 54px;
$font-size-ultra-plus: 72px;


